{{> _file-header bodyClass='index'}}

<h1>D3 Components</h1>

<p>A Project to contain and document reusable D3 components.</p> View the <a href="https://github.com/UniversityOfNottingham/d3-components/blob/develop/README.md">project readme</a> for more information.</p>
<p>Each component includes an example and should be treated as a starting point. None of the enclosed code should be used in production as is.</p>

<!-- <dl class="component">
<dt><h2 class="component__title"><a href="story-map">Component Name</a></h2></dt>
<dd class="component__author">Author</dd>
    <p>A description of the component.</p>
    <p>
      <h3>Notable features</h3>
      <ul class="feature-list">
        <li class="feature-list__item">Anything about the component worth noting: Weird behaviour, particular techniques and methods, etc.</li>
      </ul>
  </dd>
</dl> -->

</body>
</html>
