.map-container {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 100%;
  height: 100%;
  background: $background--map;
  > svg {
    // width: 1000px;
    // height: 585px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.regions {
  fill: $regions;
  &__item {
    stroke: $background--map;
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
    transition: all $transition__speed $transition__timing;
    &:hover {
      fill: $regions--active;
      cursor: pointer;
    }
  }
}
