$background--body: #333333;
$background--map: #333333;
$background--narrative: #333333;
$background--narrative--hover: #444444;
$background--narrative--active: rgba(255, 82, 82, .33);
$background--index: #fefefe;
$background--code: #eeeccc;
$link: #0000ff;
$type: #fefefe;
$type--index: #333333;
$divider: #444444;
$divider--index: #cccccc;
